{% for city in data %}
    <h1>{{city.name}} <small class="timestamp low_priority">{{updated_at}}</small></h1>
    <div class="big_metrics">{{city.main.temp|round|int}}&deg;C</div>
    <table>
        <tr><td>Air</td><td>{{city.main.humidity}} %, {{city.main.pressure|round|int}} hPa</td></tr>
        <tr><td>Sun</td><td>{{sunrise}}&ndash;{{sunset}}</td></tr>
        <tr><td>Wind</td><td>{{city.wind.speed|round|int}} m/s, {{city.wind.deg|round|int}}&deg;</td></tr>
    </table>
{% endfor %}
<div class="footer low_priority">Weather data provided by OpenWeatherMap.org</div>
