{% macro weather_row(time, icon_id, min, max) -%}
<tr>
  <td>{{ time }}</td>
  <td class="middle"><img src="http://openweathermap.org/img/w/{{ icon_id }}.png" width=50 height=50></td>
  <td class="no_padding">{{ min|round|int }}</td>
  <td class="no_padding">&ndash;</td>
  <td class="no_padding">{{ max|round|int }}&deg;C</td>
</tr>
{%- endmacro %}

<h1>{{current.name}} <small class="timestamp low_priority">{{ current.dt_time }}</small></h1>

<table>
{{ weather_row(current.dt_time, current.weather[0].icon, current.main.temp_min, current.main.temp_max) }}
{% for fcast in forecast %}
  {{ weather_row(fcast.dt_time, fcast.weather[0].icon, fcast.main.temp_min, fcast.main.temp_max) }}
{% endfor %}
</table>
<div class="footer low_priority">Weather data provided by OpenWeatherMap.org</div>
