body {
    margin-top: 20px;
    margin-left: 100px;
    font-size: 2.5em;
    font-family: 'Open Sans', Verdana, sans-serif;
    font-weight: 300;
    background: #161616;
    color: #ccb;
}
#header {
    margin-bottom: 40px;
}
#clock {
    font-size: 1.7em;
    font-weight: 300;
}
#timer {
    opacity: 0.3;
    font-size: 0.8em;
}
div.card {
    float: left;
    width: 590px;
    /*border: 1px solid black;*/
    margin-right: 20px;
}
h1 {
    color: #b23ad4;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}
table {
    margin: 8px 0 8px 0;
}
td {
    padding: 1px 22px 1px 22px;
}
.center {
    text-align: center;
}
.align_col {
    width: 80px;
}
.low_priority {
    color: #bb63d4;
    opacity: 0.5;
    font-size: 0.6em;
}
.opa_slight {
    opacity: 0.8;
}
em.big_metrics {
    margin-left: 50px;
    color: #bb63d4;
    font-style: normal;
    font-size: 2.3em;
}
small.small_metrics {
    margin-left: 50px;
    color: #b23ad4;
    font-size: 0.8em;
}

.source {
    color: #666;
    font-size: 0.5em;
}

a {
    color: #666;
}