
body {
  font-family: 'Open Sans', Verdana, sans-serif;
  background: #151510;
  color: #ddc;
  font-size: 100%;
  font-weight: 300;
}

h1 {
  color: #ddd;
  margin: 0;
  font-weight: 300;
  font-size: 3em;
}

h2 {
  color: #9044d4;
  font-weight: 300;
  font-size: 28px;
  margin: 10px 0 7px 0;
}

p {
  font-size: 1em;
}

b {
  font-size: 1.2em;
}

.huge {
  font-size: 3em;
}

.lighter {
  font-size: 0.75em;
  opacity: 0.7;
}

.panel-card {
  margin: 0;
  padding: 20px;
  display: block;
  float: left;
  width: 50%;;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.panel-header {
  margin-bottom: 10px;
}


/* Bus specific */

.bus-line-cell {
  text-align: center;
  width: 120px;
}

.bus-eta-cell {
  width: 180px;
}

td {
  padding: 1px 12px;
  font-size: 46px;
}


/* Weather specific */

.weather-chart {
  margin: 30px 0 40px 0;
}

/* Rickshaw */

/* x-axis */
.rickshaw_graph .x_tick .title {
  opacity: 1 !important;
  position: absolute !important;
  bottom: -25px;
  color: #aaa;
  font-size: 16px;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-weight: 300;
}

/* x-axis dashes */
.rickshaw_graph .x_tick {
  border-left: 1px dotted rgba(255, 255, 255, 0.3);
}

/* y-axis */
.rickshaw_graph .y_ticks text {
  opacity: 1;
  fill: #ddd;
  position: relative !important;
}

/* y-axis dashes */
.rickshaw_graph .y_grid .tick {
  stroke: rgba(255, 255, 255, 0.3);
}
